name: Portfolio Action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: 21f1001205@ds.study.iitm.ac.in
        run: echo "Hello, world!"
